<h1><%= @user.name %>のお気に入り写真一覧</h1>
<p>メールアドレス: <%= @user.email %></p>
<!--hero section -->
<div class="hero vh-50 d-flex align-center" id="home">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 mx-auto text-center">
        <h1>皆さんの近況</h1>
        <p>最近あった共有したい写真をアップしましょう。</p>
        <button class="btn btn-info ms-3"><%= link_to '投稿する', new_blog_path %></button>
      </div>
    </div>
  </div>
</div>