/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700;900&family=Sora:wght@400;700&display=swap");

:root {
  --primary: #0d6efd;
  --dark: #21252f;
  --body: #888;
}

body {
  margin: 0px;
  line-height: 1.7;
}

a {
  color: var(--dark);
  text-decoration: none;
}

section {
  width: 95%;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-align: center;
}

a {
  text-decoration: none;
}

.card-effect {
  border: rgb(129, 129, 129) solid;
  background-color: #fff;
  padding: 25px;
}

img {
  width: 100%;
}

.account {
  font-size: 1.5rem;
  color: rgb(129, 129, 129);
  text-align: center;
  margin: 30px;
}

.form-create {
  margin: 30px 0px 15px 0px;
}

.p_btn {
  width: 100%;
  margin-top: 20px;
}

.p_sub_links {
  text-align: center;
  margin: 15px;
}

.p_sub_links a {
  margin: 15px;
  text-decoration: underline;
}

.title {
  margin-top: 30px;
}

.footer-top {
  text-align: center;
  color: black;
  margin-top: 30px;
  padding-bottom: 0px;
  padding: 10px;
  background-color: rgb(219, 219, 219);
}

#notice {
  text-align: center;
  color: #00687d;
  font-size: 1rem;
  margin-top: 20px;
}